<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 py-2">
          <div class="card h-100">
            <div class="text-center card-header card-header-background">
              <h3>{{user.userName}}'s Profile</h3>
            </div>
            <div class="card-body card-body-background text-center pad">
                  <img src={{profilePic}}>
                  <br>
                  <br>
                  <div enctype="multipart/form-data">
                    <input type="file" name="pic" id="file" class="file"
                           data-browse-on-zone-click="true"
                           accept="image/jpg, image/jpeg, image/png" (change)="onFileSelect($event)">
                  </div>
              <br>
                  <div>
                    <span><b>Name :</b> {{user.name | titlecase}}</span>
                  </div>
              <br>
              <div class="pad2">
                <h6>About {{user.first_name}} : </h6>
                <div *ngIf="toggle" (click)="toggler()">
                  {{user.about_user}}
                </div>
                <div *ngIf="!toggle">
                      <textarea class="form-control"  rows="3" name="post_content"
                                [(ngModel)]="user.about_user" placeholder="Write about yourself">
                    </textarea>
                </div>
              </div>
              <br>
              <button *ngIf="toggle" type="button" (click)="toggler()" class="btn btn-primary">Update about me</button>
              <button *ngIf="!toggle" type="button" (click)="updateProfile()" class="btn btn-primary">Save</button>
              <br>
              <br>
            </div>
          </div>
        </div>

        <div class="col-sm-6 py-2">
          <div class="card h-100">
            <div class="text-center card-header card-header-background">
              <h3>MyBoards</h3>
            </div>
            <div class="card-body card-body-background">
              <div *ngFor="let board of MyBoards">
                <div class="d-flex">
                  <div class="mr-auto p-2">
                    <button routerLink="/messageBoard/{{board.board_name}}" class="btn btn-primary" routerLinkActive="active">
                      {{board.board_name | titlecase}}
                    </button>
                  </div>
                  <div class="p-2">
                    <button type="button" (click)="deleteBoard(board.id)" class="btn btn-danger">Delete MyBoard</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <br>
    <div class="row">
      <div class="col-sm-12">
          <div class="text-center card-header card-header-background">
              <h3>Create new MyBoard</h3>
          </div>
          <div class="card-body card-body-background">
              <input [(ngModel)]="newMyBoard" type="text" class="form-control"
                     placeholder="Create a new MyBoard board" required/>
            <br>
            <button type="button" (click) = "createNewMyBoard()" class="btn btn-primary">Create new MyBoard</button>
          </div>
      </div>
    </div>
  </div>

