<h1 class="text-center">Register a new account today!</h1>
<hr>
<div align="center">
  <form autocomplete="off" class="col-md-6" [formGroup]="registerForm" (ngSubmit)="login()">
      <div class="form-group">
          <label for="username">Username:</label>
              <input
                [ngClass]="{ 'is-invalid': f.username.errors && submitedArray[0] }"
                (keydown)="resetValue(0)"
                formControlName="username"
                name="username"
                id="username"
                type="text"
                class="form-control"
                placeholder="Username..."/>
          <div *ngIf="submitedArray[0] && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required </div>
            <div *ngIf="f.username.errors.minlength">Username must be at least 6 characters long</div>
            <div *ngIf="f.username.errors.pattern">Username can only contain alphabetic numeric characters</div>
          </div>
        </div>

        <div class="form-group">
          <label for="first_name">First Name:</label>
              <input
                [ngClass]="{ 'is-invalid': f.first_name.errors && submitedArray[1]}"
                formControlName="first_name"
                name="first_name"
                id="first_name"
                type="text"
                class="form-control"
                placeholder="First Name..."
                required
              />
          <div *ngIf="submitedArray[1] && f.first_name.errors" class="invalid-feedback">
            <div *ngIf="f.first_name.errors.required">First name is required </div>
            <div *ngIf="f.first_name.errors.minlength">First name must be at least 2 characters long</div>
            <div *ngIf="f.first_name.errors.pattern">First name can only contain alphabetic letters</div>
          </div>
        </div>

        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input
            [ngClass]="{ 'is-invalid': f.last_name.errors && submitedArray[2]}"
            formControlName="last_name"
            name="last_name"
            id="last_name"
            type="text"
            class="form-control"
            placeholder="Last Name..."/>
          <div *ngIf="submitedArray[2] && f.last_name.errors" class="invalid-feedback">
            <div *ngIf="f.last_name.errors.required">Last name is required </div>
            <div *ngIf="f.last_name.errors.minlength">Last name must be at least 2 characters long</div>
            <div *ngIf="f.last_name.errors.pattern">Last name can only contain alphabetic letters</div>
          </div>
        </div>

        <div class="form-group" >
          <label for="password">Password:</label>
          <input
            [ngClass]="{ 'is-invalid': f.password.errors && submitedArray[3] }"
            formControlName="password"
            name="password"
            id="password"
            type="password"
            class="form-control"
            placeholder="Password..."/>
          <div *ngIf="submitedArray[3] && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Password is required </div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group" >
          <label for="password">Confirm Password:</label>
          <input
            [ngClass]="{ 'is-invalid': f.confirmPassword.errors && submitedArray[4] }"
            formControlName="confirmPassword"
            name="confirmPassword"
            id="confirmPassword"
            type="password"
            class="form-control"
            placeholder="Confirm Password..."/>
          <div *ngIf="submitedArray[4] && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm password is required </div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      <span>
          <button type="submit" class="btn btn-primary" (click)="onClick()">
            Resgister
          </button>
      </span>
  </form>
</div>
