<form [formGroup]="boardMessage" (ngSubmit)="savePost(boardMessage.value); boardMessage.reset()" autocomplete="off">
  <div >
      <div class="card">
          <div class="text-center card-header card-header-background">
              <h3>Create new message</h3>
          </div>
          <div class="card-body  card-body-background">
              <label for="post_title">Title</label>
              <input
                [ngClass]="{ 'is-invalid': f.post_title.errors && postError}"
                formControlName="post_title"
                name="post_title"
                id="post_title"
                type="text"
                rows="1"
                class="form-control"
                placeholder="Give your post a title">
            <div *ngIf="postError && f.post_title.errors" class="invalid-feedback">
              <div *ngIf="f.post_title.errors.required">Title is required </div>
            </div>
          </div>
          <div class="card-body card-body-background">
              <label for="post_content">Message</label>
              <textarea
                [ngClass]="{ 'is-invalid': f.post_content.errors && postError }"
                formControlName="post_content"
                class="form-control"
                id="post_content"
                rows="3"
                name="post_content"
                [(ngModel)]="message.post_content"
                placeholder="Write whats on your mind">
              </textarea>
                <div *ngIf="postError && f.post_content.errors" class="invalid-feedback">
                  <div *ngIf="f.post_content.errors.required">Content is required </div>
                </div>
            <br>
            <button type="submit" class="btn btn-primary">Create new MyBoard</button>
            <br>
          </div>
      </div>
  </div>
</form>
